/* Główna zawartość */
body{
    font-family: 'Nunito', sans-serif;
    background-image: url("../grafika/tlo.png");
    background-attachment: fixed;
    margin:0;
}
.srodkowanie{
    width:1000px;
    margin:auto;
}
p{
    text-align: justify;
}
.plansza{
    position: relative;
    margin:0;
}
.biale-tlo{background-color:white;}
.naglowek-bialy{
    color:white;
    text-align: center;
    width:220px;
    margin:auto;
    margin-bottom: 63px;
}
.naglowek-bialy h1{
    font-weight: 100;
    font-size: 1.6em;
    font-weight:100;
    padding-top: 24px;
}
.naglowek-bialy img{
    margin-right: 9px;
    margin-left: 4px;
    float:left;
}
.naglowek{
    color:#013C5E;
    text-align: center;
    width:220px;
    padding-bottom: 42px;
    margin:auto;
}
.naglowek h1{
    color:#013C5E;
    font-weight: 100;
    font-size: 1.6em;
    padding-top: 50px;
    letter-spacing:0.3px;
}
.naglowek img{
    margin-left: -2px;
    margin-right: 13px;
    float: left;
    margin-top: 39px;
}

/* MENU */

.menu{
    position:fixed;
    height: 100%;
    width: 212px;
    left:0;
    top:0;
    background-color:white;
}
.menu ul{
    list-style-type: none;
    margin-top:80%;
    font-size:1.3em;
}
.menu li{
    margin-bottom:8px;
}
.menu ul li a{
    text-decoration: none;
    color: #013C5E;
}
#strzalka-menu{
    position:absolute;
    margin-left:82%;
    top:50%;
    cursor:pointer;
}
.menu img{
    display:block;
    margin:40px;
    margin-top:20px;
    margin-bottom:0;
}
.menu hr{
    border-top: 2px dotted black;
    width:100px;
    margin-right:80px;
}
.do-rozwiniecia{
    position:fixed;
    height: 100%;
    width: 30px;
    left:0;
    top:0;
    padding-top:32%;
    background-color:white;
}
#strzalka-zwrotna-menu{
    display:none;
    position:absolute;
    top:32%;
    cursor:pointer;
    transform:rotate(180deg);
    left:0;
}

/* BANER */

.baner{
    position:relative;
    width:100%;
    height:88px;
    left:0;
    right:0;
    top:0;
    background-color:#013C5E;
    display:flex row;
    z-index: 2;
}
#logo-simple{
    background-color: white;
    padding:19px 34px 26px 31px;
}
.baner ul{
    list-style-type:none;
    display:inline;
    position: absolute;
    top:0;
    margin-top:42px;
}
.baner ul li{
    display: inline;
    font-size: 1.2em;
    font-weight: 100;
    margin-right: 42px;
    margin-left: 4px;
}
.baner ul li a{
    color:white;
    text-decoration: none;
}
.wyszukiwarka{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}
#zapytanie{
    position:absolute;
    display:none;
    margin-top:32px;
}
#zapytanie input{
    font-size: 1.2em;
}
#ikona-lupa{
    position: absolute;
    right: 0;
    margin-right:22px;
    margin-top:37px;
}
#ikona-lupa:hover{
    cursor: pointer;
}

/* KARUZELA */

.karuzela .full{
    position: absolute;
    width:100%;
    height:979px;
    left:0;
    right:0;
    top:0;
    z-index:-1;
    max-height: none;
    transition-duration: 0.5s;
    transition-property: opacity;
}
#pierwszy{
    opacity:1;
}
#drugi{
    opacity:0;
}
#trzeci{
    opacity:0;
}
#czwarty{
    opacity:0;
}
.tekst-na-grafice{
    position:absolute;
    bottom:344px;
    width:1000px;
    margin:auto;
    left:50%;
    margin-left:-495px;
    font-size: 1.5em;
    color:white;
    text-shadow: 2px 2px 10px black;
    transition-duration: 0.5s;
    transition-property: opacity;
}
#pierwszy-tekst{
    opacity:1;
}
#drugi-tekst{
    opacity:0;
}
#trzeci-tekst{
    opacity:0;
}
#czwarty-tekst{
    opacity:0;
}
.tekst-na-grafice a{
    color:white;
    text-decoration: none;
}
.tytul{
    float:right;
}
.pierwsza-linijka{
    line-height:62px;
}
.druga-linijka{
    line-height: 0px;
}
.pierwsza-linijka, .druga-linijka{
    letter-spacing: 1.4px;
}
.tytul h4{
    letter-spacing: 0.7px;
    float:right;
    margin-right:6px;
    line-height: 0px;
}
.pierwsza-linijka, .druga-linijka, .tytul h4{
    font-weight:100;
}
.dolna-sekcja{
    position: absolute;
    width:1000px;
    bottom:35px;
    margin:auto;
    left:50%;
    margin-left:-500px;
}
.przyciski{
    float:right;
    margin-bottom:13px;
    margin-right: 3px;
}
.przyciski button{
    width:37px;
    height:14px;
    background-color:white;
    border:none;
    margin-left:6px;
}
#pierwszy-przycisk{
    background-color:#013C5E;
}
.newsletter{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height:55px;
    clear: both;
}
.chcesz-newsletter{
    background-color:white;
    width:855px;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    color: #013C5E;
}
.chcesz-newsletter img{
    margin-left:1px;
    margin-top:-3px;
}
.chcesz-newsletter input{
    height:25px;
    width:367px;
    font-size: 1.2em;
    vertical-align: middle;
}
.chcesz-newsletter label{
    margin-left: 4px;
    margin-top: 6px;
    letter-spacing: 0.6px;
}
#zapisz-sie{
    border:none;
    background-color:white;
    margin-left:10px;
    width:131px;
    margin-right: 4px;
    font-size: 1.2em;
    padding-right: 8px;
    padding-top: 5px;
    color:#013C5E;
    cursor: pointer;
}

/* BRANŻE */

.branze{
    padding-top: 31px;
}
.branze hr{
    border-style:dotted;
    border-color: white;
    border-width: 0 0 2px 0;
}
.siatka{
    margin-top:50px;
    margin-left: 2px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.kafelek{
    width:315px;
    height:150px;
    display: inline-block;
    margin-bottom: 22px;
    margin-right: 2px;
}
.kafelek:hover .cien{
    opacity: 0;
}
.kafelek p:hover .cien{
    opacity: 0;
}
.kafelek p{
    position:absolute;
    color:white;
    margin-top:67px;
    z-index: 3;
    font-size:1.2em;
    letter-spacing: 1px;
}
.cien{
    opacity:1;
    position: absolute;
}
.obraz{
    opacity: 1;
    margin-bottom:10px;
    margin-left:1px;
}
.teksty{
    width:317px;
    color:white;
    margin-top:-19px;
    margin-left:-3px;
    line-height:20px;
    letter-spacing: 0.2px;
}

/* PRODUKTY */

.produkty hr{
    border-style:dotted;
    border-color: #013C5E;
    border-width: 0 0 2px 0;
}
.teksty-produkty{
    display: flex;
    flex-flow: row;
    margin:auto;
    justify-content: space-around;
    width:1000px;
    font-size:1.2em;
    word-spacing: 15px;
    margin-top:40px;
    color:#013C5E;
    margin-left:10px;
}
.tekst-z-lewej{
    margin-left:-20px;
}
.tekst-z-prawej{
    margin-left:8px;
}
.teksty-produkty div{
    word-spacing: 1.1px;
    width: 484px;
    letter-spacing: 1.2px;
    line-height: 26px;
}

/* USŁUGI */

.uslugi{
    margin-top:45px;
}
.uslugi hr{
    border-style:dotted;
    border-color: white;
    border-width: 0 0 2px 0;
}
.pojedyncze-kolko{
    width:168px;
    margin-top: 34px;
    color: white;
}
.pojedyncze-kolko p{
    text-align: center;
    font-size: 1.3em;
    margin-top: 56px;
    line-height: 26px;
}
.nazwa-w-kolku{
    width:157px;
    margin-left:3px;
    position: absolute;
}
.kolka{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:1000px;
    margin-top: 57px;
}
.kolka img{
    border-radius: 50%;
    width: 163px;
    height: 163px;
    background-color: rgb(0, 136, 214);
    background-size: cover;
}
.siatka-2{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.kolumna{
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    height:400px;
    width: 330px;
    margin-top: 18px;
    margin-left: 58px;
}
.kolumna-srodkowa{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:30%;
    height:400px;
    justify-content: center;
}
.siatka-2 p{
    color:white;
    text-align:center;
}
.kolumna img{
    margin-left:108px;
    margin-top:9px;
}
.bialy-tekst{
    color:white;
}
.teksciki{
    letter-spacing: 0.5px;
}

/* AKTUALNOŚCI */

.aktualnosci hr{
    border-style:dotted;
    border-color: #013C5E;
    border-width: 0 0 2px 0;
}
.mini-karuzela{
    width:1000px;
    display:flex;
    flex-flow: row;
    margin:auto;
    margin-top:140px;
    align-items: center;
    justify-content: stretch;
    font-size: 0.8em;
}
.mini-karuzela h3{
    font-size: 1em;
    margin-top:32px;
}
.mini-karuzela h2{
    font-size: 1em;
    font-weight: 100;
}
.mini-karuzela p{
    margin-top:-5px;
    margin-bottom:34px
}
.strzalki{
    height: 42px;
}
#strzalka-w-lewo{
    margin-right:30px;
    margin-top: 14px;
}
#strzalka-w-prawo{
    margin-left: 54px;
    margin-top: 14px;
}
.strzalki:hover{
    cursor:pointer;
}
.opcja{
    margin-top: -7px;
    margin-left: 23px;
    color:#013C5E;
}
.opcja p{
    text-align: unset;
}
.opcja a{
    text-decoration: none;
    color:#013C5E;
    border-top:2px dotted grey;
    padding-top:12px;
}

/* KONTAKT */

.kontakt hr{
    border-style: dotted;
    border-color: white;
    border-width: 0 0 2px 0;
    padding-top: 5px;
}
.adresy{
    width:100%;
    display: flex;
    margin: 37px auto;
    justify-content: space-between;
}
.dane-kontaktowe{
    color:white;
    width:255px;
}
.dane-kontaktowe p{
    line-height:3px;
}
.formularz{
    color:white;
    width:407px;
    margin-top:43px;
    margin-left: 4px;
}
.formularz h2{
    font-weight: 100;
    margin-right: -5px;
    font-size: 1em;
}
.formularz input, .formularz textarea, .formularz label, .formularz h2{
    display:block;
    font-family: 'Nunito', sans-serif;
    height: 26px;
    margin-bottom: 15px;
    text-align: right;
}
.formularz input[type=text]{
    width:407px;
}
.formularz textarea{
    width: 405px;
    height: 79px;
}
.formularz label{
    width:260px;
    text-align:left;
}
.formularz input[type=checkbox]{
    width: 22px;
}
.formularz .wybor{
    display:inline;
}
.formularz input[type=submit]{
    width:120px;
    height:50px;
    text-align: center;
}
.formularz input[type=checkbox], .formularz input[type=submit]{
    display:inline;
}