/* Ogólne */

body{
    font-family:'Nunito',sans-serif;
    background-image:url("../grafika/tlo.png");
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:0;
}
p{text-align:justify;}
.biale-tlo{background-color:white;}
.bialy-tekst{color:white;}
.srodkowanie{
    width:1000px;
    margin:auto;
}
.plansza{
    position:relative;
    margin:0;
}
.naglowek{
    color:#013C5E;
    text-align:center;
    width:220px;
    padding-bottom:42px;
    margin:auto;
}
.naglowek h1{
    font-weight:100;
    font-size:1.6em;
    padding-top:50px;
    letter-spacing:0.3px;
}
.naglowek img{
    float:left;
    margin-right:12px;
    margin-top:38px;
}
.naglowek-bialy{
    color:white;
    text-align:center;
    width:220px;
    margin:auto;
    margin-bottom:63px;
}
.naglowek-bialy h1{
    font-size:1.6em;
    font-weight:100;
    padding-top:24px;
}
.naglowek-bialy img{
    margin-right:9px;
    float:left;
}

/* MENU */

.menu{
    position:fixed;
    height: 100%;
    width: 203px;
    margin-left:9px;
    background-color:white;
    z-index:4;
    box-shadow: 0px 0px 10px;
}
.menu-poczatek{margin-top:110px;}
.menu ul{
    list-style-type: none;
    line-height:25px;
    font-size:1.3em;
}
.menu li{margin-bottom:8px;}
.menu ul li a{
    text-decoration: none;
    color: #013C5E;
}
.menu hr{
    width:100px;
    margin-right:59px;
    border-style:dotted;
    border-color: #013C5E;
    border-width: 0 0 2px 0;
}
.menu img{
    display:block;
    margin: 46px;
    margin-top:20px;
    margin-bottom: 0;
}
#strzalka-zwijania{
    position:absolute;
    margin-left: 167px;
    top:48%;
    cursor:pointer;
}
.menu-zwiniete{
    position:fixed;
    height: 100%;
    width: 30px;
    background-color:white;
    z-index:3;
    box-shadow:0px 0px 0px;
}
#strzalka-rozwijania{
    display:none;
    position:absolute;
    top:51.5%;
    cursor:pointer;
    transform:rotate(180deg);
    left:0;
}

/* BANER */

#baner{
    height:979px;
}
.baner{
    position:relative;
    width:100%;
    height:88px;
    left:0;
    right:0;
    top:0;
    background-color:#013C5E;
    display:flex;
    flex-flow:row;
    z-index:4;
}
#logo-simple{
    background-color:white;
    padding:19px 34px 26px 31px;
}
.baner ul{
    list-style-type:none;
    display:inline;
    position:absolute;
    margin-top:42px;
}
.baner ul li{
    display: inline;
    font-size: 1.2em;
    font-weight: 100;
    margin-right: 42px;
    margin-left: 4px;
}
.baner ul li a{
    color:white;
    text-decoration: none;
}
.wyszukiwarka{
    position: absolute;
    top: 0;
    right: 0;
}
#zapytanie{
    position:absolute;
    display:none;
    margin-top:40px;
    right:70px;
}
#zapytanie input{
    width: 200px;
    font-size: 1.2em;
}
#ikona-lupa{
    position: absolute;
    right: 0;
    margin-right:22px;
    margin-top:37px;
}
#ikona-lupa:hover{
    cursor: pointer;
}

/* KARUZELA */

.zdjecie-karuzela{
    position: absolute;
    width:100%;
    height:979px;
    left:0;
    right:0;
    top:0;
    z-index:-1;
    max-height: none;
    transition-duration: 0.5s;
    transition-property: opacity;
}
#pierwszy{
    opacity:1;
}
#drugi{
    opacity:0;
}
#trzeci{
    opacity:0;
}
#czwarty{
    opacity:0;
}
.tekst-na-grafice{
    position:absolute;
    bottom:344px;
    width:1000px;
    margin:auto;
    left:50%;
    margin-left:-495px;
    font-size: 1.5em;
    color:white;
    text-shadow: 2px 2px 10px black;
    transition-duration: 0.5s;
    transition-property: opacity;
}
#pierwszy-tekst{
    opacity:1;
}
#drugi-tekst{
    opacity:0;
}
#trzeci-tekst{
    opacity:0;
}
#czwarty-tekst{
    opacity:0;
}
.tekst-na-grafice a{
    color:white;
    text-decoration: none;
}
.tekst-na-grafice a:hover{
    text-decoration: underline;
}
.tytul{
    float:right;
}
.pierwsza-linijka{
    line-height:62px;
}
.druga-linijka{
    line-height: 0px;
}
.pierwsza-linijka, .druga-linijka{
    letter-spacing: 1.4px;
}
.tytul h4{
    letter-spacing: 0.7px;
    float:right;
    margin-right:6px;
    line-height: 0px;
}
.pierwsza-linijka, .druga-linijka, .tytul h4{
    font-weight:100;
}
.dolna-sekcja{
    position: absolute;
    width:1000px;
    bottom:35px;
    margin:auto;
    left:50%;
    margin-left:-500px;
}
.przyciski{
    float:right;
    margin-bottom:13px;
    margin-right: 3px;
}
.przyciski button{
    width:37px;
    height:14px;
    background-color:white;
    border:none;
    margin-left:6px;
}
#pierwszy-przycisk{
    background-color:#013C5E;
}
.newsletter{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height:55px;
    clear: both;
}
.newsletter-zgloszenie{
    background-color:white;
    width:855px;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    color: #013C5E;
}
.newsletter-zgloszenie img{
    margin-left:1px;
    margin-top:-3px;
}
.newsletter-zgloszenie input{
    height:25px;
    width:367px;
    font-size: 1.2em;
    vertical-align: middle;
}
.newsletter-zgloszenie label{
    margin-left: 4px;
    margin-top: 6px;
    letter-spacing: 0.6px;
}
#zapisz-sie{
    border:none;
    background-color:white;
    margin-left:10px;
    width:131px;
    margin-right: 4px;
    font-size: 1.2em;
    padding-right: 8px;
    padding-top: 5px;
    color:#013C5E;
    cursor: pointer;
}

/* BRANŻE */

#branze{
    height:961px;
}
.branze{
    padding-top: 31px;
}
.branze hr{
    border-style:dotted;
    border-color: white;
    border-width: 0 0 2px 0;
}
.siatka-branze{
    margin-top:50px;
    margin-left: 2px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.kafelek{
    position:relative;
    width:314px;
    height:150px;
    margin-bottom: 22px;
    background-color:white;
}
.kafelek:hover .cien{
    opacity: 0;
}
.kafelek p:hover .cien{
    opacity: 0;
}
.kafelek p{
    position:absolute;
    width:100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    z-index: 3;
    font-size:1.2em;
    letter-spacing: 1px;
}
.cien{
    opacity:1;
    margin-left:-1px;
    position: absolute;
}
.obraz{
    opacity: 1;
    margin-bottom:10px;
}
.cien-widoczny{
    margin-left:-1px;
}
.teksty-branze{
    width:317px;
    color:white;
    margin-top:-19px;
    line-height:20px;
    letter-spacing: 0.2px;
}
#wiekszy-akapit-branze{
    margin-bottom:18px;
}

/* PRODUKTY */

#produkty{
    height:982px;
}
.produkty hr{
    border-style:dotted;
    border-color: #013C5E;
    border-width: 0 0 2px 0;
}
.teksty-produkty{
    display: flex;
    flex-flow: row;
    margin:auto;
    justify-content: space-around;
    width:1000px;
    font-size:1.2em;
    word-spacing: 15px;
    margin-top:40px;
    color:#013C5E;
    margin-left:10px;
}
.akapit{
    text-indent: 31px;
    margin-top:-20px;
}
.pojedyncze-kolko{
    position:relative;
    width:168px;
    margin-top: 34px;
}
.nazwa-w-kolku{
    width:100%;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}
.nazwa-w-kolku a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 26px;
}
.nazwa-w-kolku a:hover{
    text-decoration: underline;
}
.kolka{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:1000px;
    margin-top: 57px;
}
.kolka img{
    border-radius: 50%;
    width: 163px;
    height: 163px;
    background-color: rgb(0, 136, 214);
    background-size: cover;
}
.tekst-z-lewej-produkty{
    margin-left:-20px;
}
.tekst-z-prawej-produkty{
    margin-left:8px;
}
.teksty-produkty div{
    word-spacing: 1.1px;
    width: 484px;
    letter-spacing: 1.2px;
    line-height: 26px;
}

/* USŁUGI */

#uslugi{
    height:912px;
}
.uslugi{
    margin-top:45px;
}
#ikona-uslugi{
    margin-left: 19px;
}
#odstep-naglowka-uslugi{
    letter-spacing: 1.1px;
}
.uslugi hr{
    border-style:dotted;
    border-color: white;
    border-width: 0 0 2px 0;
    margin-bottom: 24px;
}
.siatka-uslugi{
    width:900px;
    margin:auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.kolumna{
    height:450px;
    width: 300px;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    align-items:center;
}
.kolumna-srodkowa{
    justify-content: center;
}
.element{
    height:180px;
    width:300px;
    margin:auto;
    text-align: center;
}
.ikona-w-siatce{
    height:80px;
    line-height: 147px;
    vertical-align: bottom;
}
.siatka-uslugi p{
    color:white;
    text-align:center;
}
.teksty-uslugi{
    width:995px;
    margin-left:5px;
    margin-top:-5px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size:1.3em;
}
.grupa-tekstow-uslugi{
    width:48%;
}

/* AKTUALNOŚCI */

#aktualnosci{
    height:987px;
}
.naglowek-aktualnosci{
    width:300px;
}
#ikona-aktualnosci{margin-top: 43px;}
#tytul-aktualnosci{
    font-size: 1.75em;
    padding-top: 70px;
}
.aktualnosci hr{
    border-style:dotted;
    border-color: #013C5E;
    border-width: 0 0 2px 0;
    margin-top:2px;
}
.mini-karuzela{
    width:867px;
    display:inline-flex;
    flex-flow: row;
    margin:auto;
    margin-top: -216px;
    align-items: center;
    justify-content: stretch;
    font-size: 0.8em;
    margin-left:68px;
}
.mini-karuzela h3{
    font-size: 1em;
    margin-top:32px;
}
.mini-karuzela h2{
    font-size: 1em;
    font-weight: 100;
}
.mini-karuzela p{
    margin-top:-5px;
    margin-bottom:34px
}
.strzalki{
    height: 42px;
    display: inline-block;
}
#strzalka-w-lewo{
    margin-right:30px;
    margin-top: 297px;
}
#strzalka-w-prawo{
    margin-right: 5px;
    margin-top: -194px;
    float:right;
}
.strzalki:hover{
    cursor:pointer;
}
.opcja{
    width:245px;
    margin-left: 10px;
    color:#013C5E;
}
.opcja p{
    text-align: unset;
}
.opcja a{
    text-decoration: none;
    color:#013C5E;
    border-top:2px dotted grey;
    padding-top:12px;
}
.opcja a:hover{
    text-decoration: underline;
}
#czwarta-opcja{
    margin-top: 32px;
}

/* KONTAKT */

#kontakt{
    height:900px;
}
.kontakt{
    width:836px;
}
.naglowek-kontakt{
    margin-top:49px;
    padding-right:27px;
}
#ikona-kontakt{
    margin-left: 12px;
}
#tytul-kontakt{
    letter-spacing: 3px;
    margin-right: -27px;
}
.kontakt hr{
    border-style: dotted;
    border-color: white;
    border-width: 0 0 2px 0;
    padding-top: 5px;
}
.adresy{
    width:900px;
    display: flex;
    margin: 37px auto;
    justify-content: space-between;
}
.adresy a{
    color:white;
    text-decoration: none;
}
.adresy a:hover{
    text-decoration: underline;
}
.dane-kontaktowe{
    color:white;
    width:290px;
}
.dane-kontaktowe p{
    line-height:3px;
}
.odstep-dane-kontaktowe{
    margin-bottom:37px;
}
#drugi-separator-kontakt{
    padding-top:0;
}
.druga-czesc{
    color:white;
    display:flex;
    flex-flow: row;
    margin-top: 30px;
}
.druga-czesc h2{
    font-weight: 100;
    font-size: 1em;
    margin-left: -18px;
}
.formularz{
    width:418px;
    margin-left: 4px;
}
.formularz h2{
    margin-right: 5px;
    margin-bottom: 15px;
}
.formularz input, .formularz textarea, .formularz label, .formularz h2{
    display:block;
    font-family: 'Nunito', sans-serif;
    height: 26px;
    text-align: right;
}
.formularz textarea, .formularz input{
    font-size:1.1em;
}
::placeholder{
    opacity:0.5;
}
.formularz input[type=text]{
    width:407px;
    margin-bottom: 15px;
}
.formularz textarea{
    width: 405px;
    height: 79px;
    resize: none;
}
.formularz label{
    width:260px;
    margin-top: 16px;
    text-align:left;
    display:inline-block;
}
.formularz input[type=checkbox]{
    width: 22px;
    margin-right:10px;
}
.formularz .wybor{
    display:inline;
}
.formularz input[type=submit]{
    width: 117px;
    height: 51px;
    margin-right: 6px;
    text-align: center;
    margin-top: 18px;
    font-size: 1em;
    float: right;
    color:grey;
}
.formularz input[type=checkbox], .formularz input[type=submit]{
    display:inline-block;
}
label.wybor{
    margin-left: -5px;
    margin-right: 15px;
}
.social-media{
    width:120px;
    height:400px;
    display:flex;
    flex-flow: column;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
.social-media a{
    margin-left: -16px;
}
.praca{
    width:210px;
}
.praca p{
    margin-left: -16px;
    word-spacing: 4px;
    text-align: left;
    margin-top: 25px;
}
.praca a{
    color:white;
    text-decoration: none;
}
.praca a:hover{
    text-decoration: underline;
}
#trzeci-separator-kontakt{
    padding-top: 35px;
}
.powrot{
    text-align: center;
    margin-left:10px;
    margin-top:15px;
}
.powrot a{
    text-decoration: none;
    color:white;
}
.powrot a:hover{
    text-decoration: underline;
}

/* REFERENCJE */

#referencje{
    height:145px;
}
.referencje{
    margin-top:28px;
}
.karuzela-referencje{
    width:820px;
    display:flex;
    justify-content: space-between;
    margin:auto;
    margin-top:-58px;
}
.karuzela-referencje img{
    margin-right:35px;
}
#strzalka-w-lewo-2{
    margin-left: 5px;
    margin-top: 54px;
}
#strzalka-w-prawo-2{
    margin-right: 1px;
    margin-top: -66px;
    float:right;
}
#margines-logo-biale-fb{
    margin-top: -18px;
}
#margines-mail-kontakt{
    margin-top:45px;
}
#margines-zobacz-oferty-kontakt{
    margin-top:83px;
}
.logo-ernst{
    margin-top: 9px;
}
.logo-ministerstwo{
    margin-top: -6px;
}
.logo-vision{
    margin-top: 17px;
}
.logo-bell{
    margin-top: -4px;
}

@media screen and (max-width:1024px){
    .wyszukiwarka{
        display:none;
    }
}

@media screen and (max-width:1560px){
    .baner ul li{
        font-size:1em;
        margin-right:34px;
    }
}

@media screen and (max-width:1440px){
    .baner{
        height:86px;
    }
    #logo-simple{
        height:63px;
        padding: 9px 16px 14px 14px;
    }
    .menu{
        width:146px;
        margin-left:-30px;
    }
    .menu ul{
        line-height:20px;
    }
    .menu li{
        margin-bottom:0;
    }
    .menu ul li{
        font-size:0.7em;
    }
    .menu hr {
        width: 100px;
        margin-right: 10px;
    }
}