h1{text-align: center;}
.container{
    width:60%;
    margin:auto;
}
.flex-container{
    height:200px;
    display: flex;
    align-items: stretch;
    cursor: pointer;
    overflow: hidden;
}
.element{margin:5px;}
.element1{
    background-color: #006699;
    width:40%;
    height:100%;
    vertical-align: bottom;
    background-size: 110%;
    transition: all 2s ease-in-out;
}
.element1:hover{
    background-image: url("../obrazy/obrazek1.jpg");
    background-size: 120%;
}
.tekst1{
    margin-top: 100px;
    margin-left: 20px;
}
.element2{
    background-color: #ffffff;
    width:20%;
    height:100%;
    vertical-align: bottom;
    background-size: 110%;
    transition: all 2s ease-in-out;
}
.element2:hover{
    background-image:url("../obrazy/obrazek2.jpg");
    background-size: 120%;
    position: relative;
}
.tekst2{margin-left:20px;}
.do-dolu{margin-top:100px;}
.element3{
    background-color: #dedede;
    width:20%;
    height:100%;
    vertical-align: bottom;
    background-size: 110%;
    transition: all 2s ease-in-out;
}
.element3:hover{
    background-image:url("../obrazy/obrazek3.jpg");
    background-size: 120%;
    position: relative;
}
.element4{
    background-color: #000111;
    width:20%;
    height:100%;
    vertical-align: bottom;
    background-size: 110%;
    transition: all 2s ease-in-out;
}
.element4:hover{
    background-image:url("../obrazy/obrazek4.jpg");
    background-size: 120%;
    position: relative;
}
.bialy{color:white;}